<fieldset data-hook="new_affiliate">
    <div data-hook="affiliate_name">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, class: 'form-control title' %>
      <%= f.error_message_on :name %>
    <% end %>
    <div>

    <%= f.field_container :partial, class: ['form-group']  do %>
      <%= f.label :partial, Spree.t(:partial) + " (leave blank if no partial) " %>
      <div class="input-group">
        <span class="input-group-addon" id="partial-url">app/views/spree/affiliates/</span>
        <%= f.text_field :partial, class: 'form-control title' %>
        <%= f.error_message_on :partial %>
      </div>
    <% end %>

    <%= f.field_container :path, class: ['form-group']  do %>
      <%= f.label :path, Spree.t(:path) %>
      <%= f.text_field :path, class: 'form-control title' %>
      <%= f.error_message_on :path %>
    <% end %>

  <div data-hook="affiliate_attrs" class="row">
   <div data-hook="affiliate_layout" class="col-md-6">
    <%= f.field_container :layout, class: ['form-group']  do %>
      <%= f.label :layout, Spree.t(:layout) %>

      <%= select_tag 'fake_layout',
            options_for_select(@layout_options, selected: @affiliate.layout),
            class: "select2 #{'other' unless @layout_options.flatten.include?(@affiliate.layout)}" %>
      <%= f.text_field :layout, value: @affiliate.layout.nil? ? @layout_options.first : @affiliate.layout, class: 'form-control title' %>

      <script>
        var fake_layout = $("#fake_layout"),
            affiliate_layout = $("#affiliate_layout");
        fake_layout.on("change", function(){
          affiliate_layout.hide();
          if ($(this).val() != '') {
            affiliate_layout.val($(this).val());
          } else {
            affiliate_layout.val('layouts/application').show().focus();
          }
        });
        if (!fake_layout.hasClass('other ')) {
          affiliate_layout.hide();
        } else {
          fake_layout.val('');
        }
      </script>
      <%= f.error_message_on :layout %>
    <% end %>
    </div>
  </div>
</fieldset>
