<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @affiliate } %>

<% content_for :page_title do %>
  <%= link_to Spree.t(:affiliates), spree.admin_affiliates_url %> /
  <%= Spree.t(:new_affiliate) %>
<% end %>

<div data-hook="admin_affiliate_new_form">
  <%= form_for [:admin, @affiliate], url: admin_affiliates_url, method: :post do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="afffiliate-from-prototype" id="affiliate-from-prototype">
      <%= render file: 'spree/admin/prototypes/show' if @prototype %>
    </div>

    <%= render partial: 'spree/admin/shared/new_resource_links' %>
  <% end %>
</div>
